:root {
  --yellow-color: #f7d31d;
  --black-color: #2a2a2a;
  --green-color: #114702;
  --red-color: #d60015;
  --gray-color: #c9c9c9;
  --light-green-color: #19ed14;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
ul {
  padding-left: 0;
  list-style: none;
}
a,
button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
img {
  max-width: 100%;
}
.text-red {
  color: var(--red-color) !important;
}
.text-gray {
  color: var(--gray-color) !important;
}
.text-light_green {
  color: var(--light-green-color) !important;
}

.roulette-game {
  margin: auto;
  background: url("assets/images/bg.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}
.game {
  display: flex;
  margin: auto;
  padding: clamp(10px, 4vw, 40px);
  padding-bottom: clamp(10px, 2vw, 20px);
  gap: clamp(10px, 2vw, 20px);
  justify-content: center;
}
.game-left {
  max-width: 40vw;
  height: 40vw;
  padding-right: 5vw;
}
.game-center {
  max-width: 35vw;
}
.game-right {
  max-width: clamp(100px, 7.3vw, 140px);
  flex-shrink: 0;
}

/* Responsive styles */
@media only screen and (max-width: 1440px) {
  .game-center {
    max-width: 35vw;
  }
}
@media only screen and (max-width: 1080px) {
  .game {
    padding: 10px;
    align-items: center;
    flex-direction: column;
  }
  .game-left {
    max-width: 40vw;
    // padding-right: 5vw;
  }
  .game-center {
    max-width: 48vw;
  }
  .game-right {
    position: absolute;
    top: 43vw;
    right: 9vw;
  }
}

@keyframes wheelMove {
  from {transform: translate(-50%, -50%) rotate(0deg);}
  to {transform: translate(-50%, -50%) rotate(-360deg);}
}

@keyframes orbit2 {
  0% {
    transform: rotate(0deg) translateX(-15.6vw) translateY(10px);
    opacity: 1;
  }
  30% {
    transform: rotate(-918deg) translateX(-15.6vw) translateY(-10px);
  }
  33% {
    transform: rotate(-915deg) translateX(-14.6vw) translateY(-10px);
  }
  // 45% {
  //   transform: rotate(-710deg) translateX(-13.5vw) translateY(-10px);
  // }
  // 55% {
  //   transform: rotate(-530deg) translateX(-12.5vw) translateY(-10px);
  // }
  // 65% {
  //   transform: rotate(-450deg) translateX(-10.5vw) translateY(-0px);
  // }
  70% {
    transform: rotate(-410deg) translateX(-10vw) translateY(-0px);
  }
  // 73% {
  //   transform: rotate(-400deg) translateX(-9.5vw) translateY(-0px);
  // }
  90% {
    transform: rotate(-360deg) translateX(-9.5vw) translateY(-0px);
  }
  100% {
    transform: rotate(-360deg) translateX(-9.5vw) translateY(-0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 1440px) {
  @keyframes orbit2 {
    0% {
      transform: rotate(0deg) translateX(-15.6vw) translateY(10px);
      opacity: 1;
    }
    60% {
      transform: rotate(-785deg) translateX(-15.6vw) translateY(-10px);
    }
    65% {
      transform: rotate(-790deg) translateX(-8.5vw) translateY(-10px);
    }
    85% {
      transform: rotate(-720deg) translateX(-9.5vw) translateY(-0px);
    }
    100% {
      transform: rotate(-720deg) translateX(-9.5vw) translateY(-0px);
      opacity: 1;
    }
  }
}
